{% extends "base.html" %}
{% block title %}
{{ block.super }} – Вопрос №{{ question.id }}
{% endblock %}
{% block body %}
      {% if user.is_authenticated %}
         Пользователь: {{ user.get_username }} <br>
      {% else %}
         Пользователь anonymous <br>
      {% endif %}
      <hr>
      Вопрос: <br>
      <hr>

      <p> Заголовок:     {{ question.title }} </p>
      <p> Текст:     {{ question.text }} </p>
      <p> Автор:     {{ question.author.get_username }} </p> 
      <p> Дата вопроса:     {{ question.added_at }} </p> 
      <hr>

      Ответ(ы):
      <hr>
      {% for answer in answers %}
      <div>
      <p> Ответ:     {{ answer.text }} </p> 
      
      <p> Ответил:     {{ answer.author.get_username }} </p>    
      <p> Дата ответа:     {{ answer.added_at }} </p> 
      <hr>
      </div> 
      {% endfor %}
      <hr>
      
      {% include "form.html" %}
{% endblock %}

