{% extends "base.html" %}
{% block title %}
{{ block.super }} – Регистрация на сайте
{% endblock %}
{% block body %}
{% for e in form.non_fields.error %}
      <div> {{ e }} </div>
{% endfor %}      
      <form method="post" action="/signup/">
        {% csrf_token %}
        <fieldset> 
            {% for field in form %} 
             <div>
               <label> {{ field.label }} </label>
               <div> {{ field }} </div>
             </div>
            {% endfor %}
        </fieldset>
        <div>
           <button type="submit"> Сохранить </button>
        </div> 
      </form>
{% endblock %}
